.character-creation {
    max-width: 400px;
    margin: 0 auto;
    background-color: #a1968d;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.character-creation label {
    display: block;
    margin-bottom: 8px;
    color: #57372e;
    font-weight: bold;
}

.character-creation input[type="text"],
.character-creation textarea {
    width: 100%;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #635a56;
}

.character-creation button {
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: none;
    background-color: #59464e;
    color: #eae4d9;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 16px;
}

.character-creation button:hover {
    background-color: #9a7b91;
}

.character-creation h3 {
    font-size: 24px;
    margin-bottom: 16px;
    color: #201411;
    text-align: center;
}
