/*
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/

/* App.css */

.App {
  text-align: center;
  background-color: #eae4d9;
  font-family: 'Arial', sans-serif;
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 16px;
  color: #201411;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #a1968d;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #57372e;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #635a56;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: none;
  background-color: #59464e;
  color: #eae4d9;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9a7b91;
}

.error-message {
  color: #b46a62;
  margin-top: 12px;
}

.success-message {
  color: #876558;
  margin-top: 12px;
}

.logout-button {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #59464e;
  color: #eae4d9;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 9999;
}

.logout-button:hover {
  background-color: #9a7b91;
}
