.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #eae4d9;
  font-family: 'Arial', sans-serif;
  padding: 20px;
  height: 100vh; /* Ensures the container takes the full height of the viewport */
}

h1 {
  font-size: 28px;
  margin-bottom: 16px;
  color: #201411;
}

form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #a1968d;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #57372e;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #635a56;
}

button {
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background-color: #59464e;
  color: #eae4d9;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Adjust the width based on the text length */
button:not(.logout-button) {
  width: fit-content;
  max-width: 100%;
  white-space: nowrap;
}

button:hover {
  background-color: #9a7b91;
}

.error-message {
  color: #b46a62;
  margin-top: 12px;
}

.success-message {
  color: #876558;
  margin-top: 12px;
}

.logout-button {
  padding: 8px;
  border-radius: 4px;
  border: none;
  background-color: #59464e;
  color: #eae4d9;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 9999;
}

.logout-button:hover {
  background-color: #9a7b91;
}

.logout-message {
  background-color: #f0f0f0;
  padding: 12px;
  border-radius: 4px;
  margin-top: 12px;
}

.logout-message p {
  color: #333333;
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eae4d9;
  font-family: 'Arial', sans-serif;
}

.container {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 16px;
  color: #201411;
}

form {
  background-color: #a1968d;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
  display: block;
  margin-bottom: 8px;
  color: #57372e;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #635a56;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 4px;
  border: none;
  background-color: #59464e;
  color: #eae4d9;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #9a7b91;
}

.error-message {
  color: #b46a62;
  margin-top: 12px;
}

.success-message {
  color: #876558;
  margin-top: 12px;
}

.logout-button:hover {
  background-color: #9a7b91;
}

.logout-message {
  background-color: #f0f0f0;
  padding: 12px;
  border-radius: 4px;
  margin-top: 12px;
}

.logout-message p {
  color: #333333;
  font-weight: bold;
}

.home-content {
  text-align: justify;
}

.home-content h1{
  text-align: center;
}